/*payment*/

.text_left {
    font-family: 'Fasthand', cursive;
    font-size: 40px;
    line-height: 60px;
}

.main_payment {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid #88bbb5;
    background: white;
    padding: 10px;
}

.container {
    margin: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-top-wrap {
    font-size: 20px;
    padding: 90px 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.line {
    width: 50%;
    border-bottom: 2px solid black;
    position: absolute;
}

.cricle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background: white;
    border: 2px solid black;
}

.cricle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background: white;
    border: 2px solid black;
    left: 22.8%;
}

.cricle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background: white;
    border: 2px solid black;
    right: 22.7%;
}

.payment-top_item {
    z-index: 999999;
}

.text-cart {
    position: absolute;
    left: 22.5%;
    top: 64%;
}

.text-address {
    position: absolute;
    top: 64%;
}

.text-payment {
    position: absolute;
    right: 20.3%;
    top: 64%;
}

.payment-row {
    display: flex;
    width: 90%;
    line-height: 40px;
    padding: auto;
}

.row-left {
    flex: 3;
    padding-left: 10%;
    border-right: 2px solid black;
}

.row-right {
    flex: 2;
}

.method-payment img {
    width: 100%;
}

.row-img-payment {
    width: 100px;
}

.row-right {
    padding-left: 40px;
}

.payment-right-button {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

.payment-right-button input {
    width: 300px;
    height: 35px;
    padding: 12px;
}

.payment-right-button button {
    width: 150px;
    height: 35px;
    background: black;
    color: white;
}

.payment-right-button button:hover {
    cursor: pointer;
    background: white;
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table tfoot {
    background-color: #bbbbbb;
    font-weight: 700;
}

.content-right-payment {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.content-right-payment button {
    width: 400px;
    height: 45px;
    font-size: 24px;
}
